@import url('https://fonts.googleapis.com/css2? keluarga= Pasir Hisap:wght@600 &family= Signika & display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* contact us style */
.form-label {
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  textarea.form-control {
    height: 150px;
  }
  
  @media (max-width: 991.98px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  }
  
  .page .container {
    padding: 45px;
    border-radius: 0;
    left: 50%;
    top: 50%;
  }
  
  .page .row {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .page .col-md-7 {
    padding: 20px;
  }
  .page .col-md-5 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #292643;
    padding: 20px;
    color: white;
  }
  .page .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .page i {
    font-size: 30px;
  }
  .page .d-flex p {
    cursor: default;
    font-size: 18px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .page .mt-4 .d-flex {
    transition: transform 0.3s ease-in-out;
  }
  .page .mt-4 .d-flex:hover {
    transform: translateX(10px);
  }

  @media only screen and (max-width: 600px) {
    .page .container {
      width: 100%;
      left: 50%;
      top: 90%;
    }
  }
  
  iframe {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }