@import url('https://fonts.googleapis.com/css2? keluarga= Pasir Hisap:wght@600 &family= Signika & display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    background: linear-gradient(#f3eff5, #fef9f3);
    padding: 0px;
    margin: 0;
    min-height: 70vh;
}

.todoForm {
    margin-top: 20px;

}

.todoInput {
    width: 270px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.addBtn {
    background-color: #150834;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}

.addBtn:hover {
    cursor: pointer;
    background-color: #150834;
}

ul {
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;
}

h1{
    margin-top: 10px;
}

.todoItems {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    min-height: 60%;
}
  
.item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
    text-align: left;
    height: 70px;
   
}

.item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
  
.item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
  
  /* item style end */
  
 .checkbox {
    margin-right: 10px;
}
  
.deleteBtn {
    float: right;
    background-color: #bee7eb;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
}
  
.checked { 
    text-decoration: line-through;
}

@media screen and (min-width: 768px) {
    /* Gaya CSS yang akan diterapkan jika lebar layar lebih besar atau sama dengan 768px */
    .footer{
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    /* Gaya CSS yang akan diterapkan jika lebar layar lebih besar atau sama dengan 768px */
    .footer{
        flex-direction: row;
    }
}
